#root {

  text-align: center;
}
.content{
  background-color:red;

  margin:0 auto;
  border:2px solid black
}
th{
  font-size: 18px;
  font-weight: 500;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding-bottom: 15px;
  
}
.table-container {
  overflow-x: auto; /* Включить горизонтальную прокрутку, если содержимое не помещается */
}

.table {
  white-space: nowrap; /* Запретить перенос строк, чтобы содержимое не переносилось автоматически */
}

.table th, .table td {
  white-space: normal; /* Разрешить перенос текста внутри ячеек таблицы */
}
.bg {
  background-image: url('./images/dreamy-aesthetic-color-year-tones-nature-landscape.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 330vh;
 padding-bottom: 200px;
 box-sizing: border-box;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.users-list, .albums-list {
  background-color: #4a4a4a;
  border-radius: 20px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  font-size: 14px;
  flex-wrap: nowrap;
}

.photos-grid {
  display: flex;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.user-item, .album-item, .photo-item {
  background: #1c1c1c;
  border-radius: 10px;
  display: flex;
  padding: 10px;
  box-sizing: border-box;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 150px;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
}

.photo-item img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto 10px;
  border-radius: 5px; /* Закруглені кути зображення */
}

.photo-item p {
  margin: 0;
  color: white; /* Колір тексту для заголовків фото */
}

.tr{
  margin-bottom: 15px;
}
.container_block{
  background-color: red;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 200px;
  list-style-type: none;
}
.bg {
  background-image: url('./images/dreamy-aesthetic-color-year-tones-nature-landscape.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 300vh;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
